body {
	margin: 0 auto;
	margin: 100px;
	background-color: darkgrey;
}

.navbar {
	padding: 10px 50px 10px 50px;
	text-align: center;
}
.navbar-default {
	margin-bottom: 0px;
}
.drinkShow {
    max-width: 50%;
<<<<<<< HEAD
    margin: 0px auto; 
=======
    margin: 0px auto;
>>>>>>> bb0465888bdf75fd858c236eed5098e567282058
}

ul {
	padding: 0px;
	list-style: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> bb0465888bdf75fd858c236eed5098e567282058
