<div class="everyDrink">
    <ul class="homeList" ng-repeat="cocktail in $ctrl.cocktails">
        <li>
            <a ui-sref="show({cocktailId: cocktail._id})" class="thumbnail">
                <img class="img-rounded liquorPicture" ng-src="{{cocktail.img}}" alt="" width="250px">
                
                <h3 class="drinkText">
                    {{cocktail.name}}
                    <!-- <span class="glyphicon glyphicon-circle-arrow-right"></span> -->
                </h3>
            </a>
        </li>
    </ul>
</div>
