<div class="everyDrink">
    <ul class="homeList" ng-repeat="cocktail in $ctrl.cocktails">
        <li>
            <a ui-sref="show({cocktailId: cocktail._id})" class="thumbnail drinkImage">
                <img class="img-rounded liquorPictureInList" ng-src="{{cocktail.img}}" alt="" width="250px">
                
                <h3 class="drinkText">
                    <span>
                        {{cocktail.name}}
                    </span>
                </h3>
            </a>
        </li>
    </ul>
</div>
