
<div class="container-fluid">
	<div class=drinkEdit>
		<form ng-submit="$ctrl.editCocktail($ctrl.current)" id="editCocktail">
			<h1>
				<label for="current-name">Name: {{$ctrl.cocktail.name}}</label>
				<input type="text" ng-model="$ctrl.current.name" name="">
			</h1>
			<hr>
			<img src="" alt="">
				<div>
					<label for="current-category">Category: {{$ctrl.cocktail.category}}</label>
					<input type="text" ng-model="$ctrl.current.category" name="">
				</div>
				<div>
					<label for="current-preparation">Preparation: {{$ctrl.cocktail.preparation}}</label>
					<input type="text" ng-model="$ctrl.current.preparation" name="">
				</div>
				<ul>
					<li ng-repeat="ingredient in $ctrl.cocktail.ingredients">
						<div>
							<label for="current-amount">Amount: {{ingredient.amount}}</label>
							<input type="text" ng-model="$ctrl.current.ingredient.amount" name="">
						</div>
						<div>
							<label for="current-unit">Unit: {{ingredient.unit}}</label>
							<input type="text" ng-model="$ctrl.current.ingredient.unit" name="">
						</div>
						<div>
							<label for="current-ingredient">Ingredient: {{ingredient.ingredient}}</label>
							<input type="text" ng-model="$ctrl.current.ingredient.ingredient" name="">
						</div>
						<span ng-if="ingredient.label">
							<div>
								<label for="current-label">Label: {{ingredient.label}}</label>
								<input type="text" ng-model="$ctrl.current.ingredient.label" name="">
							</div>
						</span>
					</li>
				</ul>
			<div>
				<input type="submit" value="Edit Cocktail" name="">
			</div>
		</form>
	</div>
</div>
