<div class="drinkName">
					 <h1>{{$ctrl.cocktail.name}}</h1>
					 <h3 class="drinkNameSeperation"><span>.</span></h3>
					 <h4><span><a ui-sref="edit">EDIT</a></span></h4>
</div>
			 <hr>
<div class="container-fluid mainShow">

	 <div class="drinkShow">
			 <div class="liqourPicture">
					 <img class="img-rounded" ng-src="{{$ctrl.cocktail.img}}" alt="" width="500px">
			 </div>

			 <div class="liqourInfo">
					 <ul>
					 <span class="liqourTitle">Category: </span>
							 <p>{{$ctrl.cocktail.category}}</p>

							 <!-- ingredients -->
							 <p>{{$ctrl.cocktail.preparation}}</p>

							 <p ng-repeat="ingredient in $ctrl.cocktail.ingredients">
										 <span class="liqourTitle">Amount: </span>
												 {{ingredient.amount}}
										 <span class="liqourTitle"></span>
												 {{ingredient.unit}}
										 <span class="liqourTitle"></span>
												 <em>{{ingredient.ingredient}}</em>
												 <br>
										 <span ng-if="ingredient.label">
										 <span class="liqourTitle">Label: </span>
												 <em>{{ingredient.label}}</em>
										 </span>
										 <span ng-if="ingredient.special">
										 	<em><span>{{ingredient.special}}</span></em>
										 </span>
										<br>
							 </p>
										<span class="liqourTitle">Created By: {{$ctrl.cocktail.createdBy}}</span>
										<br>
										<br>
										<div class="deleteLink">
											<a id="deleteLink" ng-click="$ctrl.deleteCocktail(cocktail._id)">
												<span>Delete Cocktail</span>
											</a id="deleteLink">
										</div>

					 </ul>
			 </div>
	 </div>
</div>
<hr>
<reviews-new></reviews-new>
