
<div class="container-fluid">
	<div class="drinkAdd">
		<form ng-submit="$ctrl.addNewCocktail()" id="newCocktail">
			<div class="form-group">
				<label for="newCocktail-name">Name: </label>
				<input class="form-control" type="text" ng-model="$ctrl.newCocktail.name" placeholder="Name">
			</div>
			<hr>
				<!-- <img src="" alt=""> -->
			<div class="form-group">
				<label for="newCocktail-category">Category: </label>
				<input class="form-control" type="text" ng-model="$ctrl.newCocktail.category" placeholder="Category">
			</div>
			<div class="form-group">
				<label for="newCocktail-preparation">Preparation: </label>
				<input class="form-control" type="text" ng-model="$ctrl.newCocktail.preparation" placeholder="Preparation">
			</div>


				<h1>Ingredients:</h1>
				<li style="list-style: none;">
					<div class="form-group">
						<label for="newCocktail-amount">Amount: </label>
						<input class="form-control" type="text" ng-model="$ctrl.newIngredient.amount" placeholder="Amount">
					</div>
					<div class="form-group">
						<label for="newCocktail-unit">Unit: </label>
						<input class="form-control" type="text" ng-model="$ctrl.newIngredient.unit" placeholder="Unit">
					</div>
					<div class="form-group">
						<label for="newCocktail-ingredient">Ingredient: </label>
						<input class="form-control" type="text" ng-model="$ctrl.newIngredient.ingredient" placeholder="Ingredient">
					</div>
					<span ng-if="ingredient.label">
						<div class="form-group">
							<label for="newCocktail-label">Label: </label>
							<input class="form-control" type="text" ng-model="$ctrl.newIngredient.label" placeholder="Brand Name or Sub-group of Ingredient">
						</div>
					</span>
				</li>
				<button class="btn btn-danger form-control" ng-click="$ctrl.addIngredient()">
					<span class="glyphicon glyphicon-plus addIngredient"></span>
					Add Another Ingredient
				</button>
				<hr>
			<div>
				<input class="form-control" type="submit" value="New Cocktail" name="">
			</div>
		</form>
		<br>
		<br>
		<br>
	</div>
</div>
