<form ng-submit="$ctrl.editCurrentReview()" id="editReview">
	<div class="form-group">
		<label for="editReview-reviewer">Reviewer: {{$ctrl.review.reviewer}</label>
		<input class="form-control" type="text" ng-model="$ctrl.editReview.reviewer" name="">
	</div>	
	<div class="form-group">
		<label for="editReview-rating">Rating: {{$ctrl.review.rating}}</label>
		<input class="form-control" type="number" ng-model="$ctrl.editReview.rating" name="">
	</div>
	<div class="form-group">
		<input class="form-control" type="submit" value="Edit Review" name="">
	</div>
</form>