

<div class="container-fluid">
	<div class="drinkAdd">
		<form ng-submit="$ctrl.editUser($ctrl.current)" id="User">
					<div class="form-group">
						<label for="editUser">First Name: </label>
						<input class="form-control" type="text" ng-model="$ctrl.editUser.First Name" placeholder="First Name">
					</div>
                       <br>
					<div class="form-group">
						<label for="editUser">Last Name: </label>
						<input class="form-control" type="text" ng-model="$ctrl.editUser.name" placeholder="Last Name">
					</div>
                       <br>
					<div class="form-group">
						<label for="editUser-username">Username: </label>
						<input class="form-control" type="text" ng-model="$ctrl.editUser.username" placeholder="username">
					</div>
                       <br>
					<div class="form-group">
						<label for="editUser-password">Password: </label>
						<input class="form-control" type="text" ng-model="ß$ctrl.editUser.password" placeholder="Password">
					</div>
		         		</div>
							</span>
						</li>
					<div>
            <br>
				<input class="form-control" type="submit" value="Submit " name="Submit">
			</div>
		</form>
	</div>
</div>







<!-- <div>